<div class="wrapper-layout user-layout" data-layout="user">
  <div id="lego-background-container" class="lego-background-container"></div>
  {{> _user/header}}
  <main class="content">
    {{> @partial-block}}
  </main>
  {{> _user/footer}}



  {{!-- {{> _shared/toast}}
  {{> _shared/loading}}
  {{> _shared/confirm}} --}}

</div>